*
!data/data_main.csv
!data/details.csv
!data/id_title.csv
!data/maoyan_box_office_all.csv
!data/mv_lst.csv
!data/short_coms_agg.csv
!data/short_coms_all.csv
!data/short_coms_sentiment.csv

!data_analysis/main.py
!id_register.py
!all_details.py
!all_mv_lst.py
!all_short_coms.py
!data_connection.py
!sentiment/*
!box_office/main.py